:root {
    /* --vp-c-brand-1: #001b32; */
    --vp-c-brand-2: #073863;
    /* --vp-c-text-1: #001b32; */
    /* --vp-button-brand-bg: #001b32; */
    /* --vp-home-hero-name-color: #001b32 ; */
    --vp-c-indigo-1: #05a6db;
    --vp-c-indigo-3: #05a6db;
  }
