@use './reset';

.vue-forms,
.form-groups {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.vue-forms,
.form-groups > .group {
  &.bordered {
    border: solid 1px #d8d7d7;
  }

  &.rounded {
    border-radius: 0.375rem;
  }
}

.form-groups {
  position: relative;

  .group-separator {
    border-bottom-width: 1px;
    border-color: #d8d7d7;
    &:first-of-type {
      display: none;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  > .group-header {
    margin-bottom: 0.475rem;

    h3.group-title {
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: rgb(17 24 39 / 1);
      padding: 0;
      margin: 0;
    }
    p.group-subtitle {
      margin-top: 0.25rem;
      max-width: 42rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgb(107 114 128 / 1);
    }
  }

  > .group {
    margin: 0.375rem 0;
    padding: 0.5rem;
    position: relative;

    &:has(label.group-label) {
      margin: 0.475rem 0;
    }

    & > label.group-label {
      position: absolute;
      top: -0.7rem;
      width: fit-content;
      padding: 0 0.375rem;
      color: rgb(92, 98, 110);
      background-color: #fff;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

p.field-hint {
  color: rgb(107 114 128 / 1);
}

.field-anotations {
  font-size: 0.775rem;
  line-height: 1.25rem;
  margin-left: 0.75rem;
  label {
    font-size: 0.875rem;
  }
}

.input-field .field-anotations,
.input-radio .field-anotations {
  margin-left: 0.15rem;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:has(.input-field label) {
      justify-content: start;
    }
  }
}

.form-grid {
  gap: 0.485rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

@for $i from 1 through 12 {
  .form-grid .col-span-#{$i} {
    grid-column: span $i / span $i;
  }
  .form-row .col-#{$i} {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 #{calc(100% / 12) * $i};
    flex: 0 0 #{calc(100% / 12) * $i};
    max-width: #{calc(100% / 12) * $i};
  }
}

.full-width {
  width: 100%;
}

.input-switch {
  display: flex;
  align-items: center;

  .switch-button {
    background-color: #e5e7eb;
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    height: 1.25rem;
    width: 2.25rem;
    border: 2px solid transparent;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgb(79 70 229 / 1);
    }
    &.toggled {
      background-color: rgb(79 70 229 / 1);
      .switch-indicator {
        transform: translateX(0.7rem);
      }
    }
  }

  .switch-indicator {
    pointer-events: none;
    display: inline-block;
    height: 0.86rem;
    width: 0.86rem;
    border-radius: 9999px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.1); /* shadow */
    transition: transform 0.2s ease-in-out;
    transform: translateX(-0.33rem);
  }
  .switch-label {
    margin-left: 0.75rem;
    font-size: 0.875rem;
    color: #111827;
    line-height: 1.25rem;
    font-weight: 500;
  }
}

.input-radio {
  margin-top: 0.25rem;
  & input {
    color: rgb(79 70 229 / 1);
    border-color: rgb(209 213 219 / 1);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    margin-right: 0.321rem;
    &:focus {
      outline: none;
      border-color: transparent;
      background-color: currentColor;
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px currentColor;
    }
  }

  & > :not([hidden]) ~ :not([hidden]) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .radio-item {
    display: flex;
    align-items: center;
  }
}

.input-field > label,
.input-radio > label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(55 65 81 / 1);
}

.input-field > input,
.input-field > select {
  margin-top: 0.25rem;
  --tf-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tf-shadow);
  display: block;
  width: 100%;
  border-color: rgb(209 213 219 / 1);
  border-radius: 0.375rem;
  border-width: 1px;
}

@media (min-width: 640px) {
  .input-field > input,
  .input-field > select {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .input-radio > fieldset > .radio-container {
    align-items: center;
    display: flex;
  }

  .input-radio > :not([hidden]) ~ :not([hidden]) {
    margin: 0.075rem 0;
    padding: 0;
  }

  .radio-container > :not([hidden]) ~ :not([hidden]) {
    margin: 0.075rem calc(0.75rem / 2);
  }
}

.input-checkbox {
  display: flex;
  align-items: flex-start;
  .field-check {
    height: 1.25rem;
    align-items: center;
    display: flex;
    & > input {
      color: rgb(79 70 229 / 1);
      border-color: rgb(209 213 219 / 1);
      border-radius: 0.25rem;
      width: 1rem;
      height: 1rem;
      &:focus {
        outline: none;
        border-color: transparent;
        background-color: currentColor;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px currentColor;
      }
    }
  }
}

.vue-forms .form-actions,
.form-groups .form-actions {
  padding-top: 1.25rem;
  display: flex;
  justify-content: flex-end;
  --btn-opacity: 1;
  button {
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border-width: 1px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgb(67 56 202 / var(--btn-opacity));
    }
    &.loading,
    &:disabled {
      --btn-opacity: 0.6;
      cursor: default;
    }
    &.action-confirm {
      background-color: rgb(79 70 229 / var(--btn-opacity));
      color: #fff;
      display: inline-flex;
      justify-content: center;
      margin-left: 0.75rem;
      border-color: transparent;
      &:not(.loading):hover {
        background-color: rgb(67 56 202 / var(--btn-opacity));
      }
    }
    &.action-cancel {
      color: rgb(55 65 81 / 1);
      background-color: #fff;
      border-color: rgb(209 213 219 / var(--btn-opacity));
      &:not(.loading):hover {
        background-color: rgb(249 250 251 / var(--btn-opacity));
      }
    }
  }
}
