:root {
    /* --vp-c-brand-1: #001b32; */
    --vp-c-brand-2: #d4a203;
    /* --vp-c-text-1: #001b32; */
    --vp-button-brand-bg: #ddab02;
    --vp-home-hero-name-color: #ddab02 ;
  }

/* .text { */
  /* font-size: 36px !important; */
/* } */
